@{
    ViewBag.Title = "About";
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
<hgroup class="title">
    <h1>We have moved!</h1>
    <h2>Our new home: <a href="http://www.caribbeanfamilyhistory.org">www.CaribbeanFamilyHistory.org</a></h2>
</hgroup>
            </div>
</section>
        }

