@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        We have recorded tombstones inscriptions for sites in Antigua, Barbados and a 
        few other smaller islands in the Caribbean. These tombstones inscriptions are 
        not recorded in any other location.
    </p>

    <p>
        We are all volunteers based across the world working to provide assistance in 
        your family history research.
    </p>

</article>

<aside>
    <h3>Recent Activity</h3>
    <ul>
        <li>Shell of new website launched</li>
    </ul>
</aside>