@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:admin@caribbeanfamilyhistory.org">admin@caribbeanfamilyhistory.org</a></span>
    </p>
    <span class="social">
        <h3>Facebook:</h3>
        <span><a href="https://www.facebook.com/pages/Caribbean-Family-History/493376417348462" title="Facebook"><img src="http://www.caribbeanfamilyhistory.org/Images/vintage_stamp_icon_pack/facebook.png" height="32" width="32" alt="Facebook"/></a></span>
        <h3>Twitter:</h3>
        <span><a href="https://twitter.com/CaribFamHistory" title="Twitter"><img src="http://www.caribbeanfamilyhistory.org/Images/vintage_stamp_icon_pack/twitter.png" height="32" width="32" alt="Twitter"/></a></span>
    </span>
</section>

