@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                We have recently moved, geographic locations and web hosting locations.
            </p>
            <p>
                As you can see the site is in the process of being re-designed. This means that not all 
                functionality or datasets are avaliable. We are working to get this information back online.
            </p>
        </div>
    </section>

}

<aside>
    <h3>Do some Research</h3>
    <ul>
        <li><a href="@Tombstones.UI.Web.Areas.Tombstones.Controllers.HomeController.IndexLinkPath">Tombstones</a></li>
    </ul>
</aside>

<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Check back often</h5>
        While we are updating our site new features and datasets will be added frequently.
        </li>
    <li class="two">
        <h5>Don't fret.</h5>
        We will make a recovery...</li>
</ol>

