@{
    ViewBag.Title = "Research";
}

<h2>Research</h2>
<section class="clear-fix">
    <h3>Antigua</h3>
    <article>
        <h4>Antigua & Barbuda National Archives</h4>
        <address>
            Victoria Park, Factory Road
            St. John's, Antigua
        </address>
        <address>1-268- 462 -3946 / 7</address>
        <address>
            archives@candw.ag
        </address>
    </article>
    <article>
        <h4>Museum of Antigua & Barbuda</h4>
        <address>
            P. O. Box 2103,
            Corner of Market & Long Streets
            St. John's, Antigua
        </address>
        <address>1-268-462-1469</address>
        <address>www.antiguamuseums.org</address>
        <address>museum@candw.ag</address>
    </article>
</section>

<div class="clear"></div>
<br />
<section class="clear-fix">
    <h3>Barbados</h3>
    <article>
        <h4>Barbados Registration Department</h4>
        <address>
            Supreme Court Of Barbados
            Law Courts,  Coleridge Street
            Bridgetown, Barbados
        </address>
        <address>Phone:  1-246-426-3461</address>
        <address>Fax:      1-246-426-2405</address>
    </article>
    <article>
        <h4>The Barbados Department of Archives</h4>
        <address>
            Black Rock, St. James, Barbados</address>
<address>1-246-425-1380</address>
<address>archives@sunbeach.net</address>
    </article>
    <article>
        <h4>The Librarian Barbados Museum & Historical Society
        </h4>
        <address>
            St. Ann's Garrison, St. Michael, Barbados, BB14038
            </address>
<address>1-246- 427-0201</address>
<address>www.barbmuse.org.bb</address>
<address>museum@caribsurf.com</address>
    </article>
    <article>
        <h4>Dr. Patricia Stafford, B.A., PhD</h4>
        <address>patriciastafford@caribsurf.com</address>
        <address>1-246-428-2103</address>
    </article>
</section>
<div class="clear"></div>
<br />

    <section class="clear-fix">
        <h3>Bermuda</h3>
        <article>
            <h4>Jennifer Polnaszek</h4>
            <address>www.rootsweb.com/~bmuwgw/bermuda.htm</address>
        </article>
    </section>

<div class="clear"></div>
<br />


    <section class="clear-fix">
        <h3>Jamaica</h3>
        <article>
            <h4>Jamaican Family Search</h4>
            <address>http://jamaicanfamilysearch.com</address>
            <address>Jcomments@jamaicanfamilysearch.com</address>
        </article>
    </section>

<div class="clear"></div>
<br />

    <section class="clear-fix">
        <h3>Montserrat</h3>
        <article>
            <h4>Montserrat National Trust</h4>
            <address>
                P. O. Box 393,
Olveston, Montserrat.</address>
Any questions please contact Mike Smith
<address>smithfamilycircus@xtra.co.nz</address>
        </article>
    </section>


<div class="clear"></div>
<br />

<section class="clear-fix">
    <h3>St. Kitts</h3>
    <article>
        <h4>St. Christopher Heritage Society</h4>
        <address>P. O. Box 888, Bank Street,  Basseterre, St. Kitts</address>
        <address>(869)-465-5584</address>
        <address>schs@caribsurf.com</address>
    </article>
    <article>
        <h4>St. Kitts Historical Society</h4>
        <address>Old Customs House,  Basseterre, St. Kitts</address>
    </article>
    <article>
        <h4>Museum Association of the Caribbean</h4>
        <address>www.tcmuseum.org/museums_association_of_the_caribbean</address>
    </article>
</section>
