@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Http 403</h1>
                <h2>We are rebuilding...</h2>
            </hgroup>
            <p>
                Please use the navigation menu above.
            </p>
        </div>
    </section>

}
